{% extends "base.html" %}


{% block information %}
    <h2>About</h2>
    <p>
        There are an estimated 200,000 aircraft in the United States under
        the purview of the Federal Aviation Administration (FAA). Each of
        these aircraft must adhere to numerous airworthiness directives (AD)
        issued by the FAA to maintain safety standards. Over 350 ADs were
        issued in 2023 alone, for instance, each of which could potentially
        apply to thousands of registered aircraft.  ADs are mandatory
        instructions issued by the FAA that prescribe actions necessary to
        maintain the airworthiness of a specified set of aircraft models.
        Compliance with ADs is essential for ensuring the continued safe
        operation of aircraft, so it is imperative to have an efficient
        means for tracking which registered aircraft are affected by a
        given AD, to communicate the maintenance required to the
        appropriate aircraft owner, and to track which registered
        aircraft have had the necessary maintenance performed.
    </p>
    <p>
        Managing this immense fleet requires a thorough register of individual
        aircraft, their histories, and the relevant administrative categories
        under which they fall. A website with a back-end database will record
        the owner, model, registration, applicable airworthiness directives,
        maintenance record, and current maintenance status of aircraft
        registered with the FAA.
{% endblock %}