{% extends "base.html" %}
{% block information %}
    <h2>{{page_name}}</h2>
{% endblock %}

{% block read %}
<table>
    <tbody>
        <tr>
            {% for entity in entities %}
                <th>{{ entity }}</th>
            {% endfor %}
        </tr>
        {% for owner in data %}
        <tr>
            <td>{{ owner.ID }}</td>
            <td>{{ owner.Name }}</td>
            <td>{{ owner.Email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block create %}
<form method="POST">
    <legend><strong>Add {{ page_name }}</strong></legend>
    <fieldset>
        <label>Owner Name</label>
        <input type="text" name="OwnerName">
        <label>Owner Email Address</label>
        <input type="text" name="OwnerEmail">
    </fieldset>
    <input class="btn" type="submit" id="NewOwner" value="Add">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block update %}
<form method="POST">
    <legend><strong>Update {{ page_name }}</strong></legend>
    <fieldset>
        <label>Owner</label>
        <select name="OwnerID">
                <option value=1> Josh Embury</option>
                <option value=2> Ian Bubier</option>
                <option value=3> United Airlines</option>
                <option value=4> Alaska Airlines</option>
        </select>
        <label>Owner Name</label>
        <input type="text" name="OwnerName">
        <label>Owner Email Address</label>
        <input type="text" name="OwnerEmail">
    </fieldset>
    <input class="btn" type="submit" id="UpdateOwner" value="Update">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block delete %}
<form method="POST">
    <legend><strong>Delete {{ page_name }}</strong></legend>
    <fieldset>
        <label>Owner</label>
        <select name="OwnerID">
            <option value=1> Josh Embury</option>
            <option value=2> Ian Bubier</option>
            <option value=3> United Airlines</option>
            <option value=4> Alaska Airlines</option>
        </select>
    </fieldset>
    <input class="btn" type="submit" id="DeleteOwner" value="Delete">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}