{% extends "base.html" %}
{% block information %}
    <h2>{{page_name}}</h2>
{% endblock %}

{% block read %}
<table>
    <tbody>
        <tr>
            <th>Owner Name</th>
            <th>Email Address</th>
        </tr>
        <tr>
            <td>Josh Embury</td>
            <td>emburyj@oregonstate.edu</td>
        </tr>
        <tr>
            <td>Ian Bubier</td>
            <td>bubieri@oregonstate.edu</td>
        </tr>
        <tr>
            <td>United Airlines</td>
            <td>therealunited@aol.com</td>
        </tr>
        <tr>
            <td>Alaska Airlines</td>
            <td>alaskaair@hotmail.com</td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block create %}
<form method="POST">
    <legend><strong>Add {{ page_name }}</strong></legend>
    <fieldset>
        <label>Owner Name</label>
        <input type="text" name="OwnerName">
        <label>Owner Email Address</label>
        <input type="text" name="OwnerEmail">
    </fieldset>
    <input class="btn" type="submit" id="NewOwner" value="Add">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block update %}
<form method="POST">
    <legend><strong>Update {{ page_name }}</strong></legend>
    <fieldset>
        <label>Owner Name</label>
        <input type="text" name="OwnerName">
        <label>Owner Email Address</label>
        <input type="text" name="OwnerEmail">
    </fieldset>
    <input class="btn" type="submit" id="UdateOwner" value="Update">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block delete %}
<form method="POST">
    <legend><strong>Delete {{ page_name }}</strong></legend>
    <fieldset>
        <label>Owner Name</label>
        <input type="text" name="OwnerName">

    </fieldset>
    <input class="btn" type="submit" id="DeleteOwner" value="Delete">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}