{% extends "base.html" %}
{% block information %}
    <h2>{{page_name}}</h2>
{% endblock %}

{% block read %}
<table>
    <tbody>
        <tr>
            <th>Model ID</th>
            <th>Manufacturer Name</th>
            <th>Model Name</th>
        </tr>
        <tr>
            <td>1</td>
            <td>The Boeing Company</td>
            <td>737-8</td>
        </tr>
        <tr>
            <td>2</td>
            <td>The Boeing Company</td>
            <td>737-9</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Airbus SAS</td>
            <td>A320-214</td>
        </tr>
            <td>4</td>
            <td>Epic Aircraft</td>
            <td>E1000</td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block create %}
<form method="POST">
    <legend><strong>Add {{ page_name }}</strong></legend>
    <fieldset>
        <label>Model ID</label>
        <input type="text" name="ModelID">
        <label>Manufacturer Name</label>
        <input type="text" name="AircraftManufacturer">
        <label>Model Name</label>
        <input type="text" name="AircraftModel">
    </fieldset>
    <input class="btn" type="submit" id="NewAircraftModel" value="Add">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block update %}
<form method="POST">
    <legend><strong>Update {{ page_name }}</strong></legend>
    <fieldset>
        <label>Model ID</label>
        <input type="text" name="ModelID">
        <label>Manufacturer Name</label>
        <input type="text" name="AircraftManufacturer">
        <label>Model Name</label>
        <input type="text" name="AircraftModel">
    </fieldset>
    <input class="btn" type="submit" id="UpdateAircraftModel" value="Update">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block delete %}
<form method="POST">
    <legend><strong>Delete {{ page_name }}</strong></legend>
    <fieldset>
        <label>Model ID</label>
        <input type="text" name="ModelID">
        <label>Model Name</label>
        <input type="text" name="AircraftModel">
    </fieldset>
    <input class="btn" type="submit" id="DeleteAircraftModel" value="Delete">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}