{% extends "base.html" %}
{% block information %}
    <h2>{{page_name}}</h2>
{% endblock %}

{% block read %}
<table>
    <tbody>
        <tr>
            {% for entity in entities %}
                <th>{{ entity }}</th>
            {% endfor %}
        </tr>
        {% for model in data %}
        <tr>
            <td>{{ model.model_id }}</td>
            <td>{{ model.manufacturer_name }}</td>
            <td>{{ model.model_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block create %}
<form method="POST">
    <legend><strong>Add {{ page_name }}</strong></legend>
    <h6><i>(All fields required)</i></h6>
    <fieldset>
        <label>Manufacturer Name:</label>
        <input type="text" name="AircraftManufacturer">
        <label>Model Name:</label>
        <input type="text" name="AircraftModel">
    </fieldset>
    <input class="btn" type="submit" name="NewAircraftModel" id="NewAircraftModel" value="Add">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block update %}
<form method="POST">
    <legend><strong>Update {{ page_name }}</strong></legend>
    <h6><i>(All fields required)</i></h6>
    <fieldset>
        <label>Model:</label>
        <select name="ModelID">
            {% for model in data %}
                <option value="{{ model.model_id }}">{{ model.model_name }}</option>
            {% endfor %}
        </select>
        <label>Manufacturer Name:</label>
        <input type="text" name="AircraftManufacturer">
        <label>Model Name:</label>
        <input type="text" name="AircraftModel">
    </fieldset>
    <input class="btn" type="submit" name="UpdateAircraftModel" id="UpdateAircraftModel" value="Update">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block delete %}
<form method="POST">
    <legend><strong>Delete {{ page_name }}</strong></legend>
    <fieldset>
        <label>Model:</label>
        <select name="ModelID">
            {% for model in data %}
                <option value="{{ model.model_id }}">{{ model.model_name }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <input class="btn" type="submit" name="DeleteAircraftModel" id="DeleteAircraftModel" value="Delete">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}