{% extends "base.html" %}
{% block information %}
    <h2>{{page_name}}</h2>
{% endblock %}

{% block read %}
<table>
    <tbody>
        <tr>
            {% for entity in entities %}
                <th>{{ entity }}</th>
            {% endfor %}
        </tr>
        {% for owner in data %}
            <tr>
                <td>{{ owner.owner_id }}</td>
                <td>{{ owner.owner_name }}</td>
                <td>{{ owner.owner_email }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block create %}
<form method="POST">
    <legend><strong>Add {{ page_name }}</strong></legend>
    <fieldset>
        <label>Owner Name</label>
        <input type="text" name="OwnerName" id="OwnerName">
        <label>Owner Email Address</label>
        <input type="text" name="OwnerEmail" id=OwnerEmail>
    </fieldset>
    <input class="btn" type="submit" name="NewOwner" id="NewOwner" value="Add">
    <input class="btn" type="submit" value="Cancel">
</form>
{% endblock %}

{% block update %}
<form method="POST">
    <legend><strong>Update {{ page_name }}</strong></legend>
    <fieldset>
        <label>Owner</label>
        <select name="OwnerDropdownName">
            {% for owner in data %}
                <option value="{{ owner.owner_name }}">{{ owner.owner_name }}</option>
            {% endfor %}
        </select>
        <label>Owner Name</label>
        <input type="text" name="OwnerName" id="OwnerName">
        <label>Owner Email Address</label>
        <input type="text" name="OwnerEmail" id="OwnerName">
    </fieldset>
    <input class="btn" type="submit" name="UpdateOwner" id="UpdateOwner" value="Update">
    <input class="btn" type="submit" value="Cancel">
</form>
{% endblock %}

{% block delete %}
<form method="POST">
    <legend><strong>Delete {{ page_name }}</strong></legend>
    <fieldset>
        <label>Owner</label>
        <select name="OwnerDropdownName">
            {% for owner in data %}
                <option value="{{ owner.owner_name }}">{{ owner.owner_name }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <input class="btn" type="submit" name="DeleteOwner" id="DeleteOwner" value="Delete">
    <input class="btn" type="submit" value="Cancel">
</form>
{% endblock %}