{% extends "base.html" %}
{% block information %}
    <h2>{{page_name}}</h2>
{% endblock %}

{% block read %}
<table>
    <tbody>
        <tr>
            {% for entity in entities %}
                <th>{{ entity }}</th>
            {% endfor %}
        </tr>
        {% for directive in data %}
        <tr>
            <td>{{ directive.ad_id }}</td>
            <td>{{ directive.ad_number }}</td>
            <td>{{ directive.ad_description }}</td>
            <td>{{ directive.maintenance_required_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block create %}
<form method="POST">
    <legend><strong>Add {{ page_name }}</strong></legend>
    <fieldset>
        <label>AD Number</label>
        <input type="text" name="DirectiveNumber">
        <label>AD Description</label>
        <textarea name="DirectiveDescription" rows="4" cols="50">
        </textarea>
        <label>AD Maintenance Required Date</label>
        <input type="date" name="DirectiveDate">
    </fieldset>
    <input class="btn" type="submit" id="NewAD" value="Add">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block update %}
<form method="POST">
    <legend><strong>Update {{ page_name }}</strong></legend>
    <fieldset>
        <label>Directive</label>
        <select name="ADID">
            {% for ad in data %}
                <option value="{{ ad.ad_id }}">{{ ad.ad_number }}</option>
            {% endfor %}
        </select>
        <label>AD Number</label>
        <input type="text" name="DirectiveNumber">
        <label>AD Description</label>
        <textarea name="DirectiveDescription" rows="4" cols="50">
        </textarea>
        <label>AD Maintenance Required Date</label>
        <input type="date" name="DirectiveDate">
    </fieldset>
    <input class="btn" type="submit" id="UpdateAD" value="Update">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block delete %}
<form method="POST">
    <legend><strong>Delete {{ page_name }}</strong></legend>
    <fieldset>
        <label>Directive</label>
        <select name="ADID">
            {% for ad in data %}
                <option value="{{ ad.ad_id }}">{{ ad.ad_number }}</option>
            {% endfor %}
        </select>

    </fieldset>
    <input class="btn" type="submit" id="DeleteAD" value="Delete">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}