{% extends "base.html" %}
{% block information %}
    <h2>{{page_name}}</h2>
{% endblock %}

{% block read %}
<table>
    <tbody>
        <tr>
            {% for entity in entities %}
                <th>{{ entity }}</th>
            {% endfor %}
        </tr>
        {% for record in data %}
        <tr>
            <td>{{ record.MID }}</td>
            <td>{{ record.Number }}</td>
            <td>{{ record.Date }}</td>
            <td>{{ record.Description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block create %}
<form method="POST">
    <legend><strong>Add {{ page_name }}</strong></legend>
    <fieldset>
        <label>Aircraft N Number</label>
        <select name="NNumber">
            {% for record in data %}
                <option value="{{ record.aircraft_id }}">{{ record.n_number }}</option>
            {% endfor %}
        </select>
        <label>Maintenance Date</label>
        <input type="date" name="RecordDate">
        <label>Maintenance Description</label>
        <input type="text" name="RecordDescription">
    </fieldset>
    <input class="btn" type="submit" id="NewRecord" value="Add">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block update %}
<form method="POST">
    <legend><strong>Update {{ page_name }}</strong></legend>
    <fieldset>
        <label>Maintenance Record ID</label>
        <select name="RecordID">
            {% for record in data %}
                <option value="{{ record.maintenance_id }}">{{ record.n_number }} {{ record.maintenance_date }}</option>
            {% endfor %}
        </select>
        <label>Aircraft N Number</label>
        <select name="NNumber">
            {% for record in data %}
                <option value="{{ record.aircraft_id }}">{{ record.n_number }}</option>
            {% endfor %}
        </select>
        <label>Maintenance Date</label>
        <input type="date" name="RecordDate">
        <label>Maintenance Description</label>
        <input type="text" name="RecordDescription">
    </fieldset>
    <input class="btn" type="submit" id="UpdateRecord" value="Update">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block delete %}
<form method="POST">
    <legend><strong>Delete {{ page_name }}</strong></legend>
    <fieldset>
        <label>Maintenance Record ID</label>
        <select name="RecordID">
            {% for record in data %}
                <option value="{{ record.maintenance_id }}">{{ record.n_number }} {{ record.maintenance_date }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <input class="btn" type="submit" id="DeleteRecord" value="Delete">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}