{% extends "base.html" %}
{% block information %}
    <h2>{{page_name}}</h2>
{% endblock %}

{% block read %}
<table>
    <tbody>
        <tr>
            {% for entity in entities %}
                <th>{{ entity }}</th>
            {% endfor %}
        </tr>
        {% for record in data %}
        <tr>
            <td>{{ record.MID }}</td>
            <td>{{ record.AID }}</td>
            <td>{{ record.Date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block create %}
<form method="POST">
    <legend><strong>Add {{ page_name }}</strong></legend>
    <fieldset>
        <label>Aircraft N Number</label>
        <input type="text" name="NNumber">
        <label>Maintenance Date</label>
        <input type="text" name="MaintenanceDate">
    </fieldset>
    <input class="btn" type="submit" id="NewMaintenance" value="Add">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block update %}
<form method="POST">
    <legend><strong>Update {{ page_name }}</strong></legend>
    <fieldset>
        <label>Aircraft N Number</label>
        <input type="text" name="NNumber">
        <label>Maintenance Date</label>
        <input type="text" name="MaintenanceDate">
    </fieldset>
    <input class="btn" type="submit" id="UpdateMaintenance" value="Update">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block delete %}
<form method="POST">
    <legend><strong>Delete {{ page_name }}</strong></legend>
    <fieldset>
        <label>Aircraft N Number</label>
        <input type="text" name="NNumber">
        <label>Maintenance Date</label>
        <input type="text" name="MaintenanceDate">
    </fieldset>
    <input class="btn" type="submit" id="DeleteMaintenance" value="Delete">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}