{% extends "base.html" %}
{% block information %}
    <h2>{{page_name}}</h2>
{% endblock %}

{% block read %}
<table>
    <tbody>
        <tr>
            {% for entity in entities %}
                <th>{{ entity }}</th>
            {% endfor %}
        </tr>
        {% for record in data %}
        <tr>
            <td>{{ record.MDID }}</td>
            <td>{{ record.MID }}</td>
            <td>{{ record.Model }}</td>
            <td>{{ record.ADID }}</td>
            <td>{{ record.Number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block create %}
<form method="POST">
    <legend><strong>Add {{ page_name }}</strong></legend>
    <fieldset>
        <label>Model Name</label>
        <select name="ModelID">
            {% for md in data %}
                <option value="{{ md.model_id }}">{{ md.model_name }}</option>
            {% endfor %}
        </select>
        <label>AD Number</label>
        <select name="ADID">
            {% for md in data %}
                <option value="{{ md.ad_id }}">{{ md.ad_number }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <input class="btn" type="submit" id="NewMD" value="Add">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block update %}
<form method="POST">
    <legend><strong>Update {{ page_name }}</strong></legend>
    <fieldset>
        <label>Relationship</label>
        <select name="MDID">
            {% for md in data %}
                <option value="{{ md.md_id }}">{{ md.model_name }} {{ md.ad_number }}</option>
            {% endfor %}
        </select>
        <label>Model Name</label>
        <select name="ModelID">
            {% for md in data %}
                <option value="{{ md.model_id }}">{{ md.model_name }}</option>
            {% endfor %}
        </select>
        <label>AD Number</label>
        <select name="ADID">
            {% for md in data %}
                <option value="{{ md.ad_id }}">{{ md.ad_number }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <input class="btn" type="submit" id="UpdateMD" value="Update">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block delete %}
<form method="POST">
    <legend><strong>Delete {{ page_name }}</strong></legend>
    <fieldset>
        <label>Relationship</label>
        <select name="MDID">
            {% for md in data %}
                <option value="{{ md.md_id }}">{{ md.model_name }} {{ md.ad_number }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <input class="btn" type="submit" id="DeleteMD" value="Delete">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}