{% extends "base.html" %}
{% block information %}
    <h2>{{page_name}}</h2>
{% endblock %}

{% block read %}
<table>
    <tbody>
        <tr>
            {% for entity in entities %}
                <th>{{ entity }}</th>
            {% endfor %}
        </tr>
        {% for aircraft in data.Aircraft %}
        <tr>
            <td>{{ aircraft.ID }}</td>
            <td>{{ aircraft.Number }}</td>
            <td>{{ aircraft.Owner }}</td>
            <td>{{ aircraft.Model }}</td>
            <td>{{ aircraft.Status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block create %}
<form method="POST">
    <legend><strong>Add {{ page_name }}</strong></legend>
    <fieldset>
        <label>N Number</label>
        <input type="text" name="NNumber">
        <label>Aircraft Owner</label>
        <select name="AircraftOwner">
            {% for item in data.Owners %}
                <option value={{ loop.index - 1 }}> {{ item }}</option>
            {% endfor %}
        </select>
        <label>Aircraft Model</label>
        <select name="AircraftModel">
            {% for item in data.Models %}
                <option value={{ loop.index - 1 }}> {{ item }}</option>
            {% endfor %}
        </select>
        <label>Current Status</label>
        <input type="text" name="CurrentStatus">
    </fieldset>
    <input class="btn" type="submit" id="NewRegisteredAircraft" value="Add">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block update %}
<form method="POST">
    <legend><strong>Update {{ page_name }}</strong></legend>
    <fieldset>
        <label>N Number</label>
        <input type="text" name="NNumber">
        <label>Aircraft Owner</label>
        <select name="AircraftOwner">
            {% for item in data.Owners %}
                <option value={{ loop.index - 1 }}> {{ item }}</option>
            {% endfor %}
        </select>
        <label>Aircraft Model</label>
        <select name="AircraftModel">
            {% for item in data.Models %}
                <option value={{ loop.index - 1 }}> {{ item }}</option>
            {% endfor %}
        </select>
        <label>Current Status</label>
        <input type="text" name="CurrentStatus">
    </fieldset>
    <input class="btn" type="submit" id="UpdateRegisteredAircraft" value="Update">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}

{% block delete %}
<form method="POST">
    <legend><strong>Delete {{ page_name }}</strong></legend>
    <fieldset>
        <label>N Number</label>
        <input type="text" name="NNumber">
    </fieldset>
    <input class="btn" type="submit" id="DeleteRegisteredAircraft" value="Delete">
    <input class="btn" type="button" value="Cancel">
</form>
{% endblock %}